<h4><%= @post.title %></h4>

  <h6>Posted by: <%= @post.user.username unless @post.user.blank? %></h6>
  <div class="post_body">
    <a><%= @post.body %></a>
  </div>

  <p><a href="/comments/new"</a>Create New Comment</p>

  <div class="comments">
    <h4><%= @post.comments.count %> Comments </h4>
    <% @post.comments.each do |comment| %>
      <p>Author: <%= comment.author %> </p>
      <p> <%= comment.comment %> </p>
    <% end %>
  </div>

</div>
